* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    background-color: #fff1e5;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    width: 70%;
    height: 100%;
    margin: 0 auto;
    justify-content: space-between;
}

.heading-area {
    flex: 1;
    padding: 1rem;
}

.heading-area h1 {
    text-align: center;
}

.messages-area {
    flex: 8;
    overflow-y: auto;
    padding: 1rem;
    background-color: white;
    border-radius: 8px;
}

.input-area {
    flex: 1;
    display: flex;
    justify-content: center;
}

.message-list {
    list-style-type: none;
    height: 100%;
}

.button {
    border: none;
    background-color: black;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    padding: 0.8rem 1.6rem;
    margin: 0;
    font-size: 1.3rem;
    border-radius: 8px;
}

.button:hover {
    border: 1px solid 4CAF50;
    background-color: #fff1e5;
    color: black;
}

.button-send {
    background-color: #4CAF50;
    flex: 2;
}

.inputs {
    display: flex;
    margin: 1.5rem;
    width: 85%;
}

.msg {
    display: inline-block;
    flex: 10;
    border: 2px solid #ccc;
    background-color: #f8f8f8;
    resize: none;
    height: 100%;
    margin-right: 1.5rem;
    font-size: 1.2rem;
    border-radius: 4px;
}

.message {
    width: 100%;
    margin: 0.5rem;
    display: flex;
}

.message-me {
    justify-content: left;
}

.message-me .message-body {
    background-color: lightgreen;
    color: black;
    max-width: 60%;
    padding: 0.4rem;
    border-radius: 4px;
}

.message-gpt {
    justify-content: right;
}

.message-gpt .message-body {
    background-color: lightblue;
    color: black;
    max-width: 60%;
    padding: 0.4rem;
    border-radius: 4px;
}
